<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plaster&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/takeStyle.css">

    <title>Real Takes</title>
</head>
<body>
   <header class="mainTitle">
       <div class="topBar">
           <img class="logo" src="/img/twoCentsLogo.jpg">
           <h1 class="toName"><h1><span class="logoTitle">To: Cents</span></h1>
           <img class="profileArea" src="/img/blankProfile.png">
           {{#if isMember}}<h2 class="logout "><button class="logoutBtn">LOGOUT</button></h2>
            {{else}} <h2 class="login loginBtn"><a href="/login">LOGIN</a> </h2>
             {{/if}}

       </div>

   </header>

   

   <div class="">
       {{{body}}}

   </div>
</body>
    
    {{#if isMember}}
    <script src="/js/logout.js"></script>
    
    {{!-- <script src="/js/login.js"></script> --}}
    {{/if}}
</html>