<section>
    <h2>
        {{#each takes as |take|}}
        {{take.title}}
        <hr>
        {{take.description}}
        <textarea></textarea>
        {{/each}}
    </h2>
    {{countVisit}}

    
    {{!-- {{#if count}}
        target=`<img id='fan' src='../Tiers/images/fan_image.png'>`
    <p></p>
    {{/if}} --}}

    <div class="hierarchyPics"> </div>

    

    {{!-- {{#if countVisit == 1 }}
    <h1>1</h1>csc
    {{/if}} --}}
    {{!-- <img id='fan' src='../Tiers/images/fan_image.png'> --}}
    <button class=" addbutton">Add </button> 
    <main class="mainDisplay">
       <div class="postBox">
           <span class="postDetails">
               <div class="userIcon">User Pic</div>
               <textarea name="newPostTitle" class="titleBox" cols="30" rows="10" placeholder="Title" ></textarea>
               <textarea name="newPost" class="textBox" cols="30" rows="10" placeholder="add your 2&#162..." ></textarea>
               <button class="addPostBtn" >+Add</button>
           </span>

       </div>

       <div>
           <span class="dashboard">
               Here is a recent post
           </span>
       </div>
       
       <div>
           <span class="dashboard">
               Here is another recent post
           </span>
       </div>

   </main>
   <script src="/js/newPost.js"></script>
   <script src="/js/function.js"></script>
   <script>
   {{!-- function show_image(scr, width, height, alt){
    var img = document.createElement('img');
    img.src = src;
    img.width = width;
    img.height = height;
    img.alt = alt;

    document.body.appendChild(img); --}}
    </script>

</section>