<section>
    <div>
        This is the profile page!
    </div>
    
    <h3>The time is: {{format_time profile}}</h3>
    <h3>The time is: {{format_date profile}}</h3>
    {{!-- {{#if format_date >= 19}}
    <h1>Good Afternoon</h1>
    {{/if}} --}}
</section>
{{!-- <script src="/js/timeGreeting.js"></script> --}}