<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>To: Cents</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

    {{!-- Dots Login files --}}
  <section class="login-background">  



                <h1 class="login-title">LOGIN</h1>
                
                <div class="login">
                    <div class="profile_info">
                        <img src="/img/images/logo (2cents).png" class="login-Logo" alt="">
                
                    </div>
                    
                    <form id="login-form" type="POST" class="login-form">
                        <label  for="email" class="emailText">Email:</label><br>
                    <hr class="hr">
                        <input class="email-login loginEmail" type="email" placeholder="Enter Email">
                    
                        <label  for="password" class="logPasswordText">Password:</label><br>
                    <hr class="hr">
                        <input class="password-login loginPassword" type="password" placeholder="Enter Password">
                    
                        <button type="submit" class="btn">LOGIN:</button>

                    </form>
                    
        
                </div>
      

    
    
    </section>  


{{!-- Rell Login page code --}}
    {{!-- <header class="header">
        <h1 class="title">LOGIN</h1>
        
        <div class="sign-up">
            <form id="login-form" type="POST">
                
                <input class="loginEmail" type="email" id="email" name="email" placeholder="Enter Email">
            <hr>
                <input class="loginPassword" type="password" id="password" name="password" placeholder="Enter Password">
            <hr>
                
                <button id="loginBtn" type="submit" >Login to:</button>
            

            </form>
            
            
        </div>
    </header> --}}
        {{!-- <script src="/js/register.js"></script> --}}
        <script src="/js/login.js"></script>

</body>
