

.login-background { 
width: (100% - 300px);
margin-top: 60px;
padding: 75px;
background: #e0f2fa;
background-position: center;
background-size: cover;
height: 150vh;
transition: 0.5s;
position: relative;
}

.login-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    text-align: center;
    align-items: center;
    top: 8%;
    left:50%;
    position: absolute;
    color: rgb(255, 174, 0);
    font-size: 4em;
    transform: translate(-50%, 0);
}

.login {

    height: 555px;
    width: 444px;
    padding: 11px;
    text-align: center;
    align-items: center;
    border-radius: 8px;
    position: absolute;
    top: 25%;
    left:50%;
    transform: translate(-50%, -30%);
    justify-content: center;
    background-color: rgba(255, 174, 0, 0.397);
    border: 2.5px solid #ffbb00bd;
    box-shadow: 4px 4px 5px 4px rgba(0, 183, 255, 0.568);

}

input[type="email"] {
  width: 60%;
  font-size: 20px;
}
input[type="password"] {
    width: 60%;
    font-size: 20px;
  }



.emailText {
font-family: 'Oswald', sans-serif;
color: rgb(0, 174, 255);
font-size: 30px;

}

.passwordText {
    font-family: 'Oswald', sans-serif;
    color: rgb(0, 174, 255);
    font-size: 30px;
}   

button {
    margin: 18px;
    padding: 5px;
    color: rgb(255, 196, 0);
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
}


::placeholder {
    color: rgba(255, 153, 0, 0.623);
}

.btn {
    color: rgba(255, 166, 0, 0.664);
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

.btn:hover {
    color: rgba(0, 204, 255, 0.698);
}


.username,
.email,
.password,
.email-login,
.password-login {
    padding: 5px;
    border: none;
    margin: 16px;
    border-radius: 8px;
    font-size: .7em;
}

.hidden {
    display: none
}

.login-Logo {
    position:relative;
    margin-bottom: 20px;
    /* margin: 0 auto; */
    transform: translate(0%, 0%);
    width: 35%;
    border-radius: 300px;
    color: #ffbb00bd;;
    border: 2.5px solid #ffbb00bd;
}